body {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../media/colegiobg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main-container {
    width: 90%;
    max-width: 1200px;
}

.about-card {
    display: flex;
    background-color: #fff;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2); 
    overflow: hidden;
    /* padding-top: 56.4px; */
}

.card-image-section {
    flex: 1;
    position: relative;
    background-color: #f4f4f4;
    min-width: 300px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1; 
}

.centered-overlay-image {
    width: 150px; 
    height: 150px; 
    object-fit: contain; 
    border-radius: 50%; 
    border: 4px solid #fff; 
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 2; 
       margin-bottom: 29px;
}

.card-info-section {
    flex: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.info-block {
    margin-bottom: 20px;
}

.info-block:last-child {
    margin-bottom: 0;
}

.title {
    color: #1d1d1d;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
}

.description {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

@media (max-width: 1350px) {
    .about-card {
        flex-direction: column;

    }
    .card-image-section{
        padding-top: 58px;;
    }
    .card-info-section{
        overflow-y: auto;
        padding-bottom: 50px;
    }
}   